::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track{
    border-radius: 15px;
    background-color: #181a1e;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: darkolivegreen;
}


* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    box-sizing: border-box;
}
body {
    background-color: #181a1e;
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #212329;
    position: absolute;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

.footer-heading {
    display: flex;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.footer-heading a {
    color: #b1b1b1;
}

.footer-heading a:hover {
    color: green;
    transition: 0.3s ease-out;
}

.foto-perfil {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.apresentacao {
    background-color: #181a1e;
    color: whitesmoke;
}

.apresentacao.titulo {
    text-align: center;
}

.apresentacao.subtitulo {
    text-align: center;
}

.apresentacao.subtitulo a {
    color: white;
}
.apresentacao.subtitulo a:hover {
    color: green;
    transition: 0.3s ease-out;
}

.apresentacao.desc {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.conhecimento {
    color: whitesmoke;
}

.table.skills {
    margin-left: 10px;
    margin-right: auto;
    border-spacing: 15px
}

.contato {
    color: whitesmoke;
    text-align: left;
    margin-left: 10px;

}

.contato p {
    margin-left: 20px;
}

.contato a {
    color: #b1b1b1;
    margin-left: 20px;
}

.contato a:hover {
    color: green;
    transition: 0.3s ease-out;
}