::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track{
    border-radius: 35px;
    background-color: #b1b1b1;
}

::-webkit-scrollbar-thumb {
    border-radius: 35px;
    background-color: darkolivegreen;
}


* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #181a1e;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #212329;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
}

.footer-heading {
    display: flex;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.footer-heading a {
    color: #b1b1b1;
}

.footer-heading a:hover {
    color: green;
    transition: 0.3s ease-out;
}

.exp {
    color: whitesmoke;
}

.exp.titulo {
    text-align: center;
    margin-top: 2rem;
}

.exp_prof.table {
    margin-top: 4rem;
    margin-left: 1rem;
}
